$color: navy;

.border {
  border: 2px solid $color;
  font-weight: bold;
  background-image: url('../img/halflife.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 0.3s;
  &:hover {
    background-color: rgb(218, 212, 212);
  }
}